/*

File: style.css
Authors: Tynan Hollyer
tynan_hollyer@student.uml.edu

Description: Jay Joseph style css file. 

Credit:
Proper Documentation copied from
HW 1, Part 2, Author: Wenjin Zhou

COLOR PALLET1:
BLUE
#438699

WHITE
#EBEEEE

DARK BLUE
#1F2D34

DARK BLUE GREEN
#26454A

COLOR PALLET1:

Racing Green
#040906

Caribbean Green
#04D178

Salem
#10845C

*/

body {
    background-color: #26454A;
}

.navbarColors {
    background-color: #040906;
}

#logo {
    width: 200px;
    height: auto;
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}
  
/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}
  
/* mouse over link */
a:hover {
    color: white;
    text-decoration: none;
}
  
/* selected link */
a:active {
    color: white;
    text-decoration: none;
}